*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體; 
    box-sizing: border-box;
}
body{
    background#eee;
    height: 4000px;
}

#banner{
    width: 100%;
    /* vh=高度 */
    height: 100vh;
    background-image: url(./91d7f4dad87d64a0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
    /* 背景固定 */
    background-attachment: fixed;
}
#banner nav{
    padding: 5px;
}
#banner a{
    font-size: 28px;
    padding: 20px;
    text-decoration: none;
    transition:0.3s ;
    color: rgb(92, 92, 11);
}
#banner a :hover{
    color: green;
}
#banner p{
    text-align: center;
    font-size: 40px;
    padding: 30px;
    opacity: 0.6;
    margin-top: 200px;
    color: green;
}
#banner h1{
    text-align: center;
    font-size: 40px;
    padding: 40px;
}
#banner hr{
    width: 300px; 
    opacity: 0.7;
    margin: 0 auto;
    
}
#news{
    width: 1200px;
    height: 400px;
    background: #ccc;
    display: grid;
    /* 格線容器 1fr=空間分塊 */
    grid-template-columns:  1fr  1fr;
    grid-gap: 50px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}
#news-left{
    height: 300px;
    background-image: url(./234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#news-right{
    height: 300px;
    background-image: url(./18082405411061.jpg);
    background-size: cover;
}
    
    
}
#news h3{
    color: #aaa;
    padding: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#news hr{
    width: 350px;
    margin: 0 auto;

}
#news h1{
    font-weight: 100;
    padding: 20px;
    font-size: 30px;
}
#news p{
    padding: 30px;
    text-align: left;
    line-height: 2;
    color: #aaa;  
}
a.button {
    text-decoration: none;
    color:#aaa;
    border:1px solid #aaa;
    padding: 10 px  50px;
    transition: 0.5s;
}
a.button:hover{
    color: white;
    background: #aaa;
}
#box{
    background-attachment: fixed;
    background-size: cover;
    background-image: url(./box_h2.jpg);

}
#box h2{
    text-align: center;
    color: #aaa;
    font-size: 32px;
    padding: 100px 0;
    backdrop-filter: blur(3px) opacity(70%);
    letter-spacing: 10px;
    padding-left: 1px;
    font-weight: 100;
    margin-top: 100px;
}
#content{
    width: 1200px;
    margin: 0 auto;
}
#content h1{
    text-align: center;
    font-weight: 100;
    color: #333;
    padding: 30px;
    letter-spacing: 20px;
    padding-left: 20px;
}
#content div{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 30px;
}
#content a{
    height: 300px;
    /* 指定線高度 */
    line-height: 350px;
    /* 文字特效 */
    text-decoration: none;
    color:red;
    font-size: 32px;
    text-align: center;
    background-size: cover;
}
#content #about{
    background-image: url(./gigi.jpg);
}
#content #contact{
    background-image: url(./ccc.jpg);
}
#map{
    width: 100%;
    height: 350px;
    margin-top: 150px;
}
footer {
    background:cadetblue;
    text-align: center;
    padding: 90px 0;
    color:sienna ;
    margin-top: 100px;
}
footer h2{
    /* 字体粗細 */
    font-weight: 900;
    /* 字間距 */
    letter-spacing: 10px;
    padding-left: 10px;
    padding:50px 0 40px;
    font-size: 30px;
}
footer #icon a{
    padding: 20px;
    /* 過渡效果 */
    transition: 0.5s;
    /* 濾鏡效果 */
    filter: opacity(70%);

}
    /*滑入  */
footer #icon a:hover{
    filter: opacity(20%);
}
footer p{
    font-size: 20px;
    letter-spacing: 5px;
    padding: 20px;
    color:orangered;
    padding-left: 50px;
}
#banner-about{
    width: 100%;
    /* vh=高度 */
    height: 30vh;
    background-image: url(./18082405411061.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
    /* 背景固定 */
    background-attachment: fixed;
}
#banner-about nav{
    backdrop-filter: opacity( 50%);
}
#banner-about h2{
    text-align: center;
    font-size: 30px;
    height: 20vh;
    font-weight: 100;
    padding-left: 20px;
    line-height: 20vh;
    backdrop-filter: opacity(90%);
}
#banner a, #banner-about a, #banner-contact a{
    color: blue;
    text-decoration: none;
    font-size: 24px;
    padding: 0 30px;
    transition: 0.5s;
}
#banner a, #banner-about nav #banner-contact a{
    padding: 30px;
}
#banner a:hover, #banner-about a:hover #banner-contact a{
    color: #aaa;
}
/* 內文 */
#about-content{
    width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 50px 80px;
    margin-top: 100px;
}
#about-content h3{
    text-align: center;
    color: #8a680d;
    letter-spacing: 10px;
    padding-left: 10px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px;
}
#about-content hr{
    width: 500px;
    margin: 0 auto;
}
#about-content h1{
    text-align: center;
    padding: 20px;
    color:ccc;
    letter-spacing: 10px;
    padding-left: 10px;
    font-weight: 100;
    margin-top: 10px;
}
#about-content #about-1 {
    height: 350px;
    background-image: url(./box_h2.jpg);
    background-size: cover;
    
}

#about-content #about-2 {
    height: 350px;
    background-image: url(./ccc.jpg);
    background-size: cover;
}

#about-content #about-3 {
    height: 350px;
    background-image: url(./gigi.jpg);
    background-size: cover;
}

#about-content p {
    padding: 20px 0;
    line-height: 2;
    color: #888;
}
footer h2{
    margin-left: 40px;
}
#banner-contact{
    background-image: url(./box_h2.jpg);
    background-size: cover;
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    color:whithe;
    font-size: 20px;
}
#contact #content{

}

/* 表單 */
#form-self {
    width: 700px;
    padding: 50px 80px;
    background: #94ddbb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 100px auto 150px;
}

#form-self #name, #form-self #email, #form-self #message{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 15px;
    border: 1px solid rgba(235, 18, 18, 0.1);
}

label{
    margin: 15px;
}


#form-self #buttons {
    text-align: center;
}
#form-self #buttons input{
    margin:15px;
    font-size: 30px;
    margin-top: 50px;
}
#banner-contact{
    margin: 20px;
}
#banner-contact h2{
    font-size: 30px;
    text-align: center;
    margin: 80px;
    color: rgb(221, 27, 27);
}